@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

/*
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: white;
	/* rgb(255, 250, 245);*/
	color: black;
	/* rgb(0, 100, 255);*/
	font-size: 16px;
	line-height: 32px;
	text-align: justify;
	/*padding: 0px 60px;*/
}

a,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

hr {
	opacity: 0.2;
}


.wide {
	max-width: 1400px !important;
}

.fill {
	max-width: 100% !important;
	padding: 0;
}

section {
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px 20px;
}

#header,
#footer {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

#footer {
	height: 200px;
	font-size: 12px;
}

#comments {
	margin-top: 50px;
}

#nav {
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 14px;
	line-height: 14px;
	margin: auto;
	padding: 20px;
}

	#nav a {
		margin-left: 20px;
	}

		#nav a:hover {
			color: rgb(158, 55, 255)
		}

#ico {
	width: 64px;
	height: 64px;
}

#page-post #ico {
	width: 16px;
	height: 16px;
}

#page-post #header {
	height: 48px;
}

/* Post Related */

#posts {
	column-width: 200px;
	column-gap: 0;
	margin-bottom: 100px;
	column-count: 10;
	column-fill: balance;
}

#archive {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	margin-bottom: 100px;
}

.post {
	break-inside: avoid;
	position: relative;
	width: 100%;
	display: inline-block;
}

.postid {
	font-size: 8pt;
	line-height: 1;
	padding: 8px;
	display: inline-block;
	position: absolute;
	background-color: white;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.post:hover .postid {
	opacity: 1;
}

#posts .post img {
	filter: grayscale(100%) contrast(0.7) brightness(1.1);
}

#posts .post:hover img {
	filter: none;
}

.thumb {
	z-index: 0;
	width: 100%;
}

.center {
	text-align: center;
}

#postimg {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

	#postimg img {
		display: block;
		width: 100%;
		z-index: 1;
	}

#imgnav {
	z-index: 1;
}

#ii {
	cursor: pointer;
}

#imgolder,
#imgnewer {
	height: 100%;
	width: 50%;
	position: absolute;
	z-index: 2;
	top: 0;
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
}

	#imgolder div,
	#imgnewer div {
		display: inline-block;
		color: white;
		font-size: 60px;
		font-weight: 100;
		margin: 20px;
	}

#imgolder {
	right: 0;
	justify-content: flex-end;
}

#imgnewer {
	left: 0;
	justify-content: flex-start;
}

#imgwrap {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrappedimg img {
	max-width: 100vw;
	max-height: 100vh;
}

#sources {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	box-sizing: border-box;
	z-index: 2;
}

	#sources a {
		display: block;
		float: left;
		font-weight: 700;
		font-size: 12px;
		line-height: 20px;
		width: 20px;
		height: 20px;
		text-align: center;
		margin-left: 4px;
		text-transform: uppercase;
		color: black;
		background-color: white;
	}

		#sources a:hover {
			color: rgb(158, 55, 255)
		}

.title {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 28px;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 2em;
	font-style: italic;
	font-weight: 400;
}

.text {
	margin: auto;
	margin-bottom: 100px;
}

	.text p {
		margin-bottom: 2em;
	}

	.text a {
		color: rgb(158, 55, 255);
		/*border-bottom: 1px solid black;*/
	}

		.text a:hover {
			opacity: 0.9;
		}

	.text ul {
		font-size: 10pt;
		font-family: 'IBM Plex Mono', monospace;
	}

	.text li::after {
		line-height: 1em;
		content: "·";
		display: block;
		width: 100%;
	}

	.text li:last-child:after {
		content: "";
	}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0em;
}

	.btn a {
		font-family: 'IBM Plex Mono', monospace;
		color: black;
		padding: 1em 3em;
		text-transform: uppercase;
		border: solid 2px black;
	}

#endpoints .endpoint {
	background-color: #f9f9f9;
	padding: 2em;
	box-sizing: border-box;
	margin-bottom: 1em;
}

.endpoint .name {
	font-family: 'IBM Plex Mono', monospace;
	margin-bottom: 2em;
}

.endpoint.incomplete .name::after {
	content: "INACTIVE";
	font-size: 8pt;
	color: #aaaaaa;
	background-color: #dddddd;
	padding: 4px 8px;
	margin-left: 8px;
	border-radius: 4px;
}


.endpoint ext {
	color: rgb(158, 55, 255);
}

.endpoint .info {
	margin-bottom: 2em;
}

.endpoint .usage {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 10pt;
	color: #777777;
	word-wrap: break-word;
	text-align: initial;
}

.token {
	font-family: 'IBM Plex Mono', monospace;
	display: inline-block;
	background-color: #f9f9f9;
	padding: 2em;
	box-sizing: border-box;
	color: rgb(158, 55, 255);
}

/* Social */
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

	.social a {
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		width: 32px;
		height: 32px;
		text-transform: uppercase;
	}

		.social a:hover {
			color: rgb(158, 55, 255);
		}

.btn a:hover {
	color: rgb(158, 55, 255);
	border: solid 2px rgb(158, 55, 255);
}

/* TV */

#screenwrap, #screen, #screenfg, #screenbg {
	width: 100%;
	height: 100%;
	position: fixed;
}

#screenwrap {
	overflow: hidden;
	background-color: black;
}

#screen {
	animation: zoom 60s infinite;
	z-index: 0;
}

#buffer {
	display: none;
}

#screenoverlay, #scplayer {
	font-family: 'IBM Plex Mono', monospace;
	line-height: 1em;
	z-index: 1;
	padding: 20px;
	color: white;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
}

#screenoverlay {
	user-select: none;
	left: 0;
}

#scbutton {
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: black;
	background-color: white;
	text-align: center;
	cursor: pointer;
	font-size: 8px;
}

#gifid, #scsong {
	line-height: 24px;
	margin: 0px 16px;
}

#scsong {
	margin: 0px;
}

#scplayer {
	opacity: 0;
	right: 0;
}

@media only screen and (max-width: 600px) {
	#scplayer {
		bottom: auto;
		top: 0;
	}
}

#screenoverlay img {
	width: 24px;
	height: 24px;
}

#screenbg,
#screenfg {
	background-repeat: no-repeat;
	background-position: center;
}

#screenfg {
	background-size: contain;
	z-index: 1;
}

#screenbg {
	background-size: cover;
	z-index: 0;
}

#notification {
	z-index: 2;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	pointer-events: none;
	font-size: 2em;
	/*font-family: 'IBM Plex Mono', monospace;*/
	font-weight: 300;
	opacity: 0;
}

#scwidget {
	position: fixed;
	top: -100;
	width: 100;
	height: 100;
	z-index: -1;
}

#n {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	transform: translateY(-100%);
	transition: transform 0.4s ease;
	box-sizing: border-box;
	padding: 20px;
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	margin: auto;
	z-index: 100;
}

	#n a {
		text-decoration: underline;
	}

	#n img {
		max-width: 200px;
		margin: 10px;
	}

/* Animations */

*:target imp,
.imp imp {
	animation-duration: 20s;
	animation-fill-mode: both;
	animation-name: focusimp;
}

@keyframes focusimp {
	0% {
		color: inherit;
	}

	10% {
		color: rgb(158, 55, 255);
	}

	100% {
		color: inherit;
	}
}

@keyframes zoom {
	0% {
		transform: scale(1, 1)
	}

	50% {
		transform: scale(2, 2)
	}

	100% {
		transform: scale(1, 1)
	}
}

/* socicons */
[class^="socicon-"],
[class*=" socicon-"] {
	font-family: 'Socicon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
