#albums{
	column-width: 200px;
	column-gap: 0;
	column-count: 10;
	column-fill: balance;
}
	#albums .post img{
		filter: grayscale(100%) contrast(0.7) brightness(1.1);
	}
	#albums .post:hover img{
	filter: none;
}

#nav{
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto;
	padding: 5px;
}

	#nav a{
		margin-left: 10px;
	}

.post{
	break-inside: avoid;
	position: relative;
	width: 100%;
	display: inline-block;

}
.thumb{
	z-index:0;
	width:100%;
}