#gallery {
	margin: auto;
	width: 90%;

	padding: 1px;

}

img {
  border: 0;
  vertical-align: middle;
}
h1 {
  line-height: 1em;
}
h2,
.links {
  text-align: center;
}

@media (min-width: 481px) {
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li:not(:first-child):before {
    content: '| ';
  }
}