:root {
  --white: #fcfcfc;
  --black: #040404;

  --main: #7400b8;
}

/*body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .form {
    width: 75%;
  }
}
