* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #040404;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.img {
  display: block;
  border-radius: 50%;
}

.intro {
  display: flex;
  justify-content: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
